{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/followers.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="center-align">{{ user_profile.user }}</div>
    <div class="center-align">Followers: {{ user_profile.followers }} Following: {{ user_profile.following }}</div>
    {% if request.user != user_profile.user %}
        {% if  exists == True %}
            <div class = "center-align">Following: <input type="checkbox" id="follow" data-id="{{ user_profile.id }}" data-exists="True"></div>
        {% else %}
            <div class = "center-align">Following: <input type="checkbox" id="follow" data-id="{{ user_profile.id }}" data-exists="False"></div>
        {% endif %}
    {% endif %}
    {% for user_post in user_posts %}
        <div style="border-style: solid;">
            <div>{{ user_post.user }}</div>
            <div>{{ user_post.content }}</div>
            <div>{{ user_post.timestamp }}</div>
            <div>Likes: {{ user_post.likes }}</div>
            {% if request.user == user_post.user %}
                <div><a href = "{% url 'edit_page' user_post.id %}">Edit</a></div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if user_posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ user_posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ user_posts.number }} of {{ user_posts.paginator.num_pages }}.
            </span>
    
            {% if user_posts.has_next %}
                <a href="?page={{ user_posts.next_page_number }}">next</a>
                <a href="?page={{ user_posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}